<!DOCTYPE html>
<html>
<head>
    <title>Model Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_user_models').change(function() {
                var modelId = $(this).val();
                if (modelId) {
                    $.ajax({
                        url: '/get-model-params/' + modelId + '/',  // Укажите ваш URL-адрес для получения параметров модели
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            if (data) {
                                $('#model_params').empty();
                                $.each(data, function(key, value) {
                                    $('#model_params').append('<label>' + key + ': </label><input type="text" name="' + key + '"><br>');
                                });
                            }
                        }
                    });
                } else {
                    $('#model_params').empty();
                }
            });
        });
    </script>
</head>
<body>
    <h1>Select Model</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="model_params"></div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
